
#navbarContent{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
a .fas.fa-shopping-cart{
    font-size: 22px;
}

li:last-child {
    display: flex;
    flex-direction: row;  
    align-items: baseline;
}
label, input{
    width: 160px;
    display: inline-block;
}
button{
    width: 330px;
}
.btn{
    width: 100px;;
}